<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- fragmento con nombre:"javascript" para el autocomplete -->
<script type="text/javascript" th:fragment="javascript">

    $(document).ready(function () {
        $("#buscar_producto").autocomplete({

            <!--source muestra los datos en el autocomplete a medida q se escribe-->
            source: function (request, response) {
                $.ajax({
                    url: "/factura/cargar-productos/" + request.term,
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                value: item.id,
                                label: item.nombre,
                                precio: item.precio,
                            };
                        }));
                    },
                });
            },

            <!--select se encarga de seleccionar ese valor y posteriormente hacer una tarea-->
            select: function (event, ui) {
                //$("#buscar_producto").val(ui.item.label);

                //pregunto si el producto existe antes de aumentar una linea
                if(itemsHelper.hasProducto(ui.item.value)){
                    itemsHelper.incrementaCantidad(ui.item.value, ui.item.precio);
                    return false;
                }

                //obtener el contenido html del elemento plantillaItemsFactura
                //obtiene los tr que estan en el tbody de la tabla en plantilla-items
                var linea = $("#plantillaItemsFactura").html();

                linea = linea.replace(/{ID}/g, ui.item.value);
                linea = linea.replace(/{NOMBRE}/g, ui.item.label);
                linea = linea.replace(/{PRECIO}/g, ui.item.precio);

                //agrego la linea al tbody de la tabla
                $("#cargarItemProductos tbody").append(linea);

                //llamo a la funcion para calcular importe
                itemsHelper.calcularImporte(ui.item.value, ui.item.precio, 1);

                return false;
            }

        });
    });

    //funcion para calcular el importe
    var itemsHelper = {
        calcularImporte: function (id, precio, cantidad) {
            $("#total_importe_" + id).html(parseInt(precio) * parseInt(cantidad));
        },
        hasProducto: function (id) {

            var resultado = false;

            $('input[name="item_id[]"]').each(function () {
                if(parseInt(id) == parseInt($(this).val())){
                    resultado = true;
                }
            });

            return resultado;
        },
        incrementaCantidad: function (id, precio) {
            var cantidad = $("#cantidad_" + id).val() ? parseInt($("#cantidad_" + id).val()) : 0;
            $("#cantidad_" + id).val(++cantidad);
            this.calcularImporte(id, precio, cantidad);
        }
    }

</script>

</body>
</html>