<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}">Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Spring Boot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/listar}">Clientes</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 class="text-secondary" th:text="${titulo}"></h1>
    <!-- action es a que metodo se dirige, object es el parametro q envia -->
    <form th:action="@{/form}" th:object="${cliente}" method="post">
        <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{nombre}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
                       th:errors="*{nombre}"></small>
            </div>
        </div>
        <div class="form-group row">
            <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{apellido}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}"
                       th:errors="*{apellido}"></small>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-6">
                <input type="email" th:field="*{email}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
            </div>
        </div>
        <div class="form-group row">
            <label for="createAt" class="col-sm-2 col-form-label">Fecha</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" th:field="*{createAt}"
                       th:errorclass="'form-control alert-danger'"/>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('createAt')}"
                       th:errors="*{createAt}"></small>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <input type="submit" value="Crear Cliente" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>